body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #121212;
  /* color: #ffffff; */
  /* overflow: hidden; */
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

.title {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 15px;
  padding: 5px;
  line-height: 0px;
  color: #ffffff;
}

.subtitle {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 15px;
  line-height: 0px;
  color: #ffffff;
  padding-left: 10px;
}

.santitle {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  line-height: 0px;
  color: #ffffff;
  width: 33%;
  padding-left: 25px;
  padding-right: 25px;
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.subsubtitle {
  font-family: "Poppins";
  font-weight: 300;
  font-size: 13px;
  /* line-height: 0px; */
  color: #ffffff;
  padding-left: 20px;
}

.hide-scrollbar {
  ::-webkit-scrollbar {
    display: none;
  }
}

.sankey-con {
  width: 70%;
  min-height: 1030px !important;
  height: 1030px !important;
}

.sankey-concon {
  width: 70%;
  min-height: 1100px !important;
  height: 1100px !important;
}

.na {
  color: #656565;
  text-align: center;
  font-size: 12px;
}

.view-container {
  margin: 2px;
}

.outline {
  border: 1px solid red;
}

.no-outline {
  border: 0px solid transparent !important;
}

.inside-grid {
  height: 20vh !important;
}

.no-top-padding {
  padding-top: 0px !important;
}

.footer {
  width: 99.5%;
  color: #656565;
  text-align: right;
}

.grid-container {
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 20px;
  padding-top: 15px;
  max-height: 50vh;
  border: 3px solid #121212;
  width: 100%;
}

.button {
  background-color: #282828;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #444444;
}
